ul {

  list-style-type: none;
}

.ClcGrid {
  background-color: brown;
  width: 50%;
  height: 75%;
  display: grid;
  grid-template-columns: [col-0] 1fr [col-1] 1fr[col-2] 1fr[col-3] 1fr;
  grid-template-rows: [row-0] 1fr [row-1] 1fr [row-2] 1fr [row-3] 1fr;

}


.ClcLn1 {
  background-color: aqua;
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
}

.ClcLn2 {
  background-color: yellow;
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
}

.ClcLn3 {
  background-color: red;
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
}

.ClcLn4 {
  background-color: green;
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
}

.ClcLn4 {
  background-color: pink;
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
}

/* 
.ClcLn2 {
  background-color: rgb(208, 255, 0);
  grid-column-start: [col-1];
  grid-column-end: [col-2];
  grid-row-start: [row-1];
  grid-row-end: [row-2];
}

.ClcLn3 {
  background-color: green;
  grid-column-start: [col-2];
  grid-column-end: [col-3];
  grid-row-start: [row-2];
  grid-row-end: [row-3];
}

.ClcLn4 {
  background-color: orangered;
  grid-column-start: [col-3];
  grid-column-end: [col-4];
  grid-row-start: [row-3];
  grid-row-end: [row-4];
} */